pyaudio
requests
pywin32; sys_platform == "win32"
vosk
websockets
edge-tts
pygame
plaid-python
python-dotenv
cryptography
flask
flask-cors
Pillow
mcp
playwright
Send2Trash
twilio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
